<div class="d-flex justify-content-between bg-dark text-white p-3">
  <div class="d-flex align-items-center">

    <img src="../../../assets/EPICODE-pitto-color.png" alt="Epicod Logo" class="me-3 navLink" [routerLink]="'/'">
    <h1 [routerLink]="'/'" class="navLink me-3">EpicPost</h1>
    <button class="btn btn-success border-0" [routerLink]="'/new-post'">Nuovo Post</button>

  </div>
  <div class="d-flex align-items-center">
    <h5>Welcome back {{user?.user?.name}} {{user?.user?.surname}}</h5>
    <button type="button" class="btn btn-danger border-0 ms-3" (click)="logOut()">Logout</button>
  </div>
</div>
